button {
    appearance: none;
    border: 0.01em solid var(--color-primary-200);
    border-radius: 0.6em;
    background-color: var(--color-surface-200);
    box-sizing: border-box;
    color: var(--color-primary-200);
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    -webkit-tap-highlight-color: var(--color-primary-transparence);
    margin: 0;
    padding: 0 2em;
    height: 3em;
    width: 85%;
    outline: none;
    text-align: center;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    will-change: transform;
}

button.success {
    border: 0.01em solid var(--color-success-100);
    color: var(--color-success-100);
    background-color: var(--color-success-300);
    -webkit-tap-highlight-color: var(--color-success-transparence);
}

button.danger {
    border: 0.01em solid var(--color-danger-100);
    color: var(--color-danger-100);
    -webkit-tap-highlight-color: var(--color-danger-transparence);
    background-color: var(--color-danger-300);
}

button.warningn {
    border: 0.01em solid var(--color-warning-100);
    color: var(--color-warning-100);
    -webkit-tap-highlight-color: var(--color-warning-transparence);
    background-color: var(--color-warning-300);
}

button svg {
    fill: var(--color-primary-100);
}

@media (min-width: 768px) {
    button:hover  {
        color: var(--color-surface-200) !important;
        background-color: var(--color-primary-200) !important;
        box-shadow: var(--color-surface-300) 0 0.5rem 1rem !important;
        transform: translateY(-0.15rem) !important;
    }

}