/* resets */

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/* styles */

:root {
    --basecolor: white ;
    --basebgcolor: skyblue;
}

.page {
    background-color: var(--basebgcolor);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--basecolor);
    font-style: bold;
   
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 60vw;
    gap: 1rem;
}

.input, .button {
    padding: .5rem .6rem;
    border-radius: .75rem;
    background-color: var(--basecolor);
    border: 0.15rem solid black;
}

.button {
    cursor: pointer;
}

@media (min-width: 768px) {
    .register-button:hover {
        background-color: blue;
    }
}

.off {
    display: none;
}