  .home-header {
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--red);
    
  }

  .home-logo-container{
      margin-left: 5%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }


  .home-header-nav {
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .home-header-profile{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .home-header-avatar {
    width: 3rem;
    border-radius: 1rem;
  }
  

  .home-footer {
    position: fixed;
    bottom: 0px;
    height: 3.5rem;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 2rem solid var(--burgundy);
    background-color: var(--pink);
    color: var(--pink);
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  
  
  .profile-link {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  .home-button {
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
    padding: 1rem 2.5rem;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50px;
    border: 0.1rem solid var(--red);
   
  }

  .add-post-button {
    padding: 0rem 2rem;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    color: var(--red);
    border-radius: 50px;
    border: 2px solid var(--red);
    background-color: var(--white);
    cursor: pointer;
  }

  .main-container {
    width: 80%;
    margin-top: 5rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 4px solid green; */
  }
