 /* .page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
 
 .home-header {
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--red);
    box-sizing: border-box;
    padding: 3.5rem;
    
  }

  .home-logo-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }


  .home-header-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  
  .home-header-profile{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .home-header-avatar {
    border: 1.5px solid var(--red);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }

    .home-logo-img {
    border: 1.5px solid var(--red);
    border-radius: 50%;
    width: 10rem;
    padding: 1rem;
  }
  

  .home-footer {
    position: fixed;
    bottom: 0px;
    height: 3.5rem;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 2rem solid var(--burgundy);
    background-color: rgb(210, 183, 237);
    color: var(--pink);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem;

  }
  
  
  .profile-link {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
  }

  .home-button {
    background-color: var(--white);
    color: var(--red);
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50px;
    border: 0.1rem solid var(--red);
   
  }

  .add-post-button {
    padding: 0rem 2rem;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    color: var(--red);
    border-radius: 50px;
    border: 2px solid var(--red);
    background-color: var(--white);
    cursor: pointer;
  }

  /* .main-container {
    margin-top: 10rem;

    border: 4px solid yellow;
  } */
