.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.controls {
    width: 20%;
    padding: 1rem;
    background-attachment: black;
    color: white;
}

.map {
    width: 80%;
    height: 100vh;
}

.map-container{
    width: 100%;
    height: 100vh;
}