* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(25, 0, 255), rgb(255, 0, 0));
}

.title {
    font-family: monospace;
    font-weight: lighter;
    font-size: 30px;
    color: white;
    text-shadow: 0 2px 5px black;
}

.rosco {
    position: relative;
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.323);
    display: flex;
    justify-content: center;
}

.letter {
    position: absolute;
    list-style: none;
    transform-origin: 20px 250px;
    transform: rotate(calc(360deg / 27 * var(--i)));
}

.letter div {
    transform: rotate(calc(360deg / -27 * var(--i)));
    background-color: rgba(255, 255, 255, 0.282);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.328);
    font-family: ui-rounded;
    font-weight: lighter;
    font-size: 20px;
}