.inputs__box--feed {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--postcolor);
  border-radius: 5%;
  margin: 0.2rem;
}

.home__post--image {
  margin: 2rem;
  max-width: 90%;
  max-height: 40rem;
}

.home__post--info {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three columns with equal width */
  gap: 10px; /* Optional: Add gap between columns */
  width: 100%;
  justify-items: center;
  margin-bottom: 0.2rem;
  /* display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-left: 1rem;
  margin-right: 1rem; */
}

.post__info--user {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.like-button, .edit--icon {
  width: 1.5rem;
  height: 1.5rem;
}

.post__avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 40%;
}

.post__like {
  width: 40%;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__edit {
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: centern;
}