/* Resets */

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  margin: 0;
  background-color: var(--pagecolor);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

/* Styles */

:root {
  --textcolor: rgb(0, 0, 0);
  --pagecolor: rgb(248, 226, 154);
  --postcolor: rgb(244, 194, 165);
}

.off {
  display: none !important;
}

.main-div {
  height: 100%;
}

.page {
  min-width: 250px;
  min-height: 350px;
  width: 70vw;
  height: 80vw;
  max-width: 350px;
  max-height: 375px; 
  background-color: var(--pagecolor);
  border-radius: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal {
  background-color: rgba(240, 248, 255, 0.546);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home, .register, .login {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__post--feed {
  overflow: scroll;
  width: 90%;
  height: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home__main {
  overflow: scroll;
}

header, footer {
  background-color: var(--pagecolor);
  position: fixed;
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  top: 0;
}

footer {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-tittle {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  height: 10rem;
  width: 90%;
}

.main-logo {
  margin-top: 5rem;
  width: 250px;
}

.post__form {
  background-color: rgb(255, 227, 194);
  height: 30%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home__navigation--profile, .new-post__form--buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin: 0 1rem;
}

.predefined-avatars {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar, .predefined-avatar {
  width: 2.5rem;
}

.like-button {
  width: 1rem;
}

.post__avatar {
  height: 3rem;
}

.predefined-avatar {
  border-radius: 50%;
}

.pre-avatar-shadow {
  box-shadow: 0px 0px 5px 5px rgb(0, 247, 255);
}

.anchor__logout--icon {
  width: 2.5rem;
  margin: 0 1rem;
}

form {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* .home__post {
  height: 100%;
  width: 100%;
  background-color: rgba(240, 248, 255, 0.593);
  z-index: 6;
} */

.form__input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  padding: .5 rem .6rem;
}

.form__input--text {
  height: 5rem;
}

.inputs__box--feed {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--postcolor);
  border-radius: 5%;
  /*overflow: hidden;*/
  margin: 0.2rem;
}

.home__post--image {
  margin: 0.5rem;
  height: 18rem;
  width: 18rem;
}

.home__post--info {
  background-color: rgba(41, 60, 137, 0.404);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.post__info--user {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.inputs__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.password-container{
  position: relative;
}

.fa-eye{
  position: absolute;
  top: 20%;
  right: 4%;
  cursor: pointer;
  color: rgb(113, 113, 113);
}

.form__button {
  color: rgb(0, 0, 0);
  font-weight: bolder;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(255, 188, 79, 0.88);
}

a, .text {
  color: var(--textcolor);
  width: 100%;
  text-align: center;
}


@media (min-width: 768px) {
  .page {
      width: 350px;
      height: 375px;
  }

  .main-logo {
      margin-top: 10rem;
      width: 400px;
  }
}