.alert {
    width: 85%;
    max-width: 30rem;
    font-weight: 500;
    font-size: 0.8em;
    line-height: 1.55em;
    border-radius: 0.75em;
    text-align: justify;
    padding: 0 0.5em;
    box-shadow: var(--color-light300) 0 0.25rem 1.15rem;
}

.dark-mode .alert {
    box-shadow: var(--color-dark300) 0 0.25rem 1.15rem;
}

.alert-success {
    border: 0.01em solid var(--color-success200);
    color: var(--color-success300);
    background-color: var(--color-success100);
}

.alert-success--simple {
    color: var(--color-success300);
    box-shadow: none !important;
    padding-bottom: 0.5em !important;
}

.dark-mode .alert-success--simple {
    color: var(--color-success100);
}

.alert-danger {
    border: 0.01em solid var(--color-danger200);
    color: var(--color-danger300);
    background-color: var(--color-danger100);
}

.alert-danger--simple {
    color: var(--color-danger300);
    box-shadow: none !important;
    padding-bottom: 0.5em !important;
}

.dark-mode .alert-danger--simple {
    color: var(--color-danger100);
}

.alert-warning {
    border: 0.01em solid var(--color-warning200);
    color: var(--color-warning300);
    background-color: var(--color-warning100);   
}

.alert-warning--simple {
    color: var(--color-warning300);
    box-shadow: none !important;
    padding-bottom: 0.5em !important;
}

.dark-mode .alert-warning--simple {
    color: var(--color-warning100);
}

.close-alert {
    float: right;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

@media (min-width: 768px) { 
    .close-alert:hover{
        text-shadow: var(--color-dark100) 0.05em 0 0.01em;
    }
    
}
