button {
    appearance: none;
    border: 0.01em solid var(--color-primary300);
    border-radius: 0.6em;
    background-color: var(--color-light100);
    box-sizing: border-box;
    color: var(--color-dark200);
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    -webkit-tap-highlight-color: var(--color-primary-transparence);
    margin: 0;
    height: 3em;
    min-width: 0;
    outline: none;
    text-align: center;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    width: 85%;
    will-change: transform;
}

.dark-mode button {
    background-color: var(--color-dark200);
    color: var(--color-light200);
}

button:active {
    box-shadow: none;
    transform: translateY(0);
}

.logout,
.to-user-profile,
.to-home {
    padding-top: 0.35rem;
    padding-right: 1.9rem;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
}

.logout {
    margin-left: auto;
}

button svg {
    fill: var(--color-primary300);
}

.profile-buttons button {
    width: 45%;
}

.cancel-post {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.to-new-post {
    padding-top: 0.3rem;
    padding-right: 2.25rem;
    border-radius: 50%;
    width: 2.75rem;
    height: 2.75rem;
}

.to-new-post svg {
    height: 2rem;
    width: 2rem;
    fill: var(--color-secondary300);
}

footer button {
    background-color: var(--color-primary-transparence) !important;
    border: 0.1rem solid var(--color-primary200) !important;
}

/*Light mode toggle*/

.mode-toggle {
    position: fixed;
    bottom: 1em;
    left: 1em;
}

.mode-checkbox {
    opacity: 0;
    position: fixed;
}

.mode-label {
    width: 1.45rem;
    height: 0.45rem;
    background-color: var(--color-secondary300);
    box-shadow: var(--color-secondary200) 0 0.2rem 1.95rem;
    display: flex;
    border-radius: 3.15rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.35rem;
    position: relative;
    transform: scale(1.5);
}

.mode-switch {
    width: 0.85rem;
    height: 0.85rem;
    background-color: var(--color-secondary100);
    position: absolute;
    top: 0.15rem;
    left: 0.20rem;
    border-radius: 50%;
    transition: transform 0.2s linear;
    box-shadow: var(--color-secondary200) -0.15rem 0.15rem 0.35rem;
    cursor: pointer;
}

.mode-checkbox:checked+.mode-label .mode-switch {
    transform: translateX(0.90rem);
    box-shadow: var(--color-secondary200) 0.15rem 0.15rem 0.35rem;
}


/*Responsiveness*/

@media (min-width: 768px) {
    button:hover {
        color: var(--color-dark300);
        background-color: var(--color-primary300);
        box-shadow: var(--color-light200) 0 0.5rem 1rem;
        transform: translateY(-0.15rem);
    }

    .dark-mode button:hover {
        color: var(--color-dark300);
        background-color: var(--color-primary300);
        box-shadow: var(--color-dark300) 0 0.5rem 1rem;
        transform: translateY(-0.15rem);
    }

    button:disabled {
        pointer-events: none;
    }

    button:hover svg {
        fill: var(--color-light100);
    }

    .dark-mode button:hover svg {
        fill: var(--color-dark200);
    }

    footer button:hover svg {
        fill: var(--color-primary300) !important;
    }

    footer button:hover {
        background-color: var(--color-secondary-transparence) !important;
    }


    .profile-buttons button {
        width: 75%;
    }

    .logout {
        margin-left: 70vw;
    }


}