@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,100;1,400&display=swap');

@import './forms.css';
@import './buttons.css';
@import './alerts.css';
@import './home.css';

:root {
    --color-primary300: #fb8404;
    --color-primary200: #faaf3e;
    --color-primary100: #f4c784;
    --color-primary-transparence: #ffbd6698;
    --color-secondary300: #000c6a;
    --color-secondary200: #6c93e8;
    --color-secondary100: #95c0fa;
    --color-secondary-transparence: #375e90be;
    --color-dark300: #000000;
    --color-dark200: #3b3b3b;
    --color-dark100: #5c5c5c;
    --color-light300: #c0c0c0;
    --color-light200: #e4e4e4;
    --color-light100: #fafdff;
    --color-warning300: #7f5b00;
    --color-warning200: #ffda37;
    --color-warning100: #fbfbc4;
    --color-danger300: #7e0e08;
    --color-danger200: #e3332a;
    --color-danger100: #ec6772;
    --color-success300: #377e3f;
    --color-success200: #53b65a;
    --color-success100: #ddf8e4;
}

/*TODO fix dark mode*/

body {
    margin: 0;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.05em;
    background-color: var(--color-light100);
    color: var(--color-dark200);
    height: 100%;
    transition: color 600ms, background-color 600ms;
}

.blur {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.dark-mode {
    background-color: var(--color-dark200);
    color: var(--color-light200);
}

.off {
    display: none;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0.1em;
    color: var(--color-primary300);
    font-size: 2rem;
}

h2 {
    margin-block-start: 0;
    font-size: 1.5rem;
    color: var(--color-secondary200);
}

@media (min-width: 768px) {

    html,
    body {
        font-size: 1.15em;
    }
}