html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

/* Styles */

:root {
    --basecolor: rgba(0, 0, 0);
}

.pattern-hex {
    position: absolute;
    left: -3%;
    z-index: -1;
    width: 120%;
    height: 100%;
    background-image: url(hexagon-pattern.png);
}

.pattern-color {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(74, 14, 108), rgba(0, 0, 0, 0));
}

.register {
    min-width: 70vw;
    min-height: 70vw;
    /*background-color: rgb(199, 199, 199);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    /*color: var(--basecolor)*/
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 1px 10px rgb(0, 221, 255);
}

form {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.form-input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    padding: .5 rem .6rem;
    box-shadow: 0px 1px 10px rgb(0, 242, 255);
}

.form-button {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(156, 243, 255), rgb(215, 120, 255));
    box-shadow: 0px 1px 10px rgb(0, 242, 255);
}

.off {
    display: none;
}