html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

/* Styles */

:root {
    --textcolor: rgb(255, 255, 255);
}

.blue-hex {
    position: absolute;
    left: -3%;
    z-index: -1;
    width: 120%;
    height: 100%;
    background-image: url(hexagon-pattern-blue.png);
}

.purple-gradient {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgb(74, 14, 108), rgba(0, 0, 0, 0));
}

.orange-hex {
    position: absolute;
    left: -3%;
    z-index: -1;
    width: 120%;
    height: 100%;
    background-image: url(hexagon-pattern-orange.png);
}

.green-gradient {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(7, 65, 34, 0.892), rgba(0, 0, 0, 0));
}

.page {
    min-width: 250px;
    min-height: 350px;
    width: 70vw;
    height: 80vw;
    max-width: 350px;
    max-height: 375px;
    background-color: rgba(0, 148, 198, 0.577);
    border-radius: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home__profile, .home__password, .home__main {
    background-color: rgba(0, 148, 198, 0)
}

a, .text {
    color: var(--textcolor);
    width: 100%;
    text-align: center;
    text-shadow: 0px 1px 10px rgb(0, 221, 255);
}

form {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-input {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    padding: .5 rem .6rem;
    box-shadow: 0px 1px 10px rgb(0, 242, 255);
}

.form-input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.form-button {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(156, 243, 255, 0.88);
    box-shadow: 0px 1px 10px rgb(0, 242, 255);
}

.off {
    display: none;
}

@media (min-width: 768px) {
    .page {
        width: 350px;
        height: 375px;
    }
}
/* BEM methodology */