.home {
    padding: 6.5rem 0 2rem 0;
}

.home-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    height: 70px;
    z-index: 1;
}


.header-items-wrapper,
.footer-items-wrapper {
    box-shadow: 0px 0px 10px var(--c-base);
}

.header-items-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem;
    border-radius: 20px;
    background: var(--c-bg-gr);
}

.hello-user {
    width: 100%;
    display: flex;
    margin: 0 0 .5rem 0;
}

.hello-user h2 {
    margin: 0;
    font-weight: 500;
    font-size: smaller;
}

.hello-user h2 span {
    margin: 0;
    font-weight: 700;
    font-size: x-large;
}

.home-profile-avatar-link {
    margin-right: 1rem;
}

.header-title-link {
    transition: 1s ease;
    margin: 0px 0px 0px 1rem;
    text-decoration: none;
    color: var(--c-white);
}

.header-items-wrapper h1~* {
    margin-left: auto;
}

.home-header-avatar {
    margin: 0.3rem 0 0 auto;
}

.user-avatar {
    aspect-ratio: 1 / 1;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--c-red);
    background-color: var(--c-base);
    transition: all 1s ease;
}

.user-avatar:hover {
    border: 2px solid var(--c-lime);
}


.home-profile-avatar {
    width: 6rem;
    height: 6rem;
}




footer.home-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
}

.footer-items-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    height: 3rem;
    border-radius: 20px;
    background: var(--c-bg-gr);
}

.home-footer button {
    aspect-ratio: 1 / 1;
    height: 100%;
    width: 3rem;
    padding: 0;
    margin: 0;
    color: var(--c-white);
    border-radius: 0px;
    box-shadow: none;
}

/* .home-footer button:hover {
	background-image: none;
	background-color: var(--c-red);
} */

.home-footer button:active {

    /* color: var(--c-white); */
    opacity: 100%;
    
    /* background-color: var(--c-white); */
}

.footer-items-wrapper .add-post-button {
    min-width: 0;
    border-radius: 5px;
    font-size: 0;
}

.post-list {
    display: grid;
    Ksdisplay: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}


@media screen and (max-width: 1400px) {
    .post-list {
    grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (max-width: 600px)  {
    .home {
        padding-top: 4rem;
    }

    .home-header {
        height: 50px;
        width: 100%;
    }

    .header-items-wrapper {
        margin: 0;
        border-radius: 0;
    }

    .home-header-avatar {
        display: none;
    }

  

    .footer-items-wrapper {
        display: flex;
        flex-direction: row;
        margin: 0;
        height: 40px;
        border-radius: 0;
        background: var(--c-bg-gr);
    }
    .post-list {
       
    grid-template-columns: repeat(1, 1fr);
    }

    footer.home-footer {
        width: 100%;
    }
}
