/* ___ GENERAL ______ */
html, body {
    height: 100%;
}
body {
    background: #132f46;
    background: #091d30;
    color: #fff;
    font-family: 'acumin-pro', sans-serif;
    position: relative;
}

.hidden, .off {
    display: none !important;
}


.section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}


.container {
    background-color: #1f3a50;
    background-color: #132f46;
    padding: 30px;
    max-width: 460px;
    max-width: 260px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* ______ END GENERAL ___ */




/* ___ FONTS ______ */

h1, h2, h3, h4, h5, h6 {
    font-family: 'soleto', sans-serif;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-top: 0;
    font-weight: 100;
    margin-bottom: 10px;
}
a {
    color: #078197;
    text-decoration: none;
}
/* ______ END FONTS ___ */




/* ___ HEADER ______ */

header {
    position: absolute;
    top: 0;
    width: 100%;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.logo {
    display: flex;
    padding-left: 20px;
}
.menu {
    padding-right: 20px;
}
.menu > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;

}
.menu > ul > li {
    padding: 15px 10px;
    cursor: pointer;
}
li.login.has-submenu {
    position: relative;
    list-style: none;
}
.login ul.submenu {
    display: none;
    position: absolute;
    left: -10px;
    top: 20px;
    padding-left: 5px;
    margin-top: 24px;
    list-style: none;
    background: #132f46;
    padding: 15px 20px;
    border-radius: 10px;
}
.login:hover ul.submenu {
    display: block;
}
header li {
    font-size: 16px;
    padding: 5px 0px;
}

.menu .logout, .menu .homepage, body.logged-in .menu .login, .menu .user-account {
    display: none;
}
body.logged-in .menu .logout, body.logged-in .menu .homepage, body.logged-in .menu .user-account {
    display: block;
}

/* ______ END HEADER ___ */

/* ___ FORM ______ */

form {
    display: flex;
    flex-direction: column;
}
.message {
    /* margin-top: 10px; */
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.message.success {
    color: #49b056;
}
.message.error {
    color: #e95959;
}

input {
    background-color: rgba(43,47,49, 0.7);
    background-color: rgb(35 46 56 / 70%);
    color: #fff;
    margin: 5px 5px 10px;
    padding: 8px 15px;
    min-width: 220px;
    border: solid 2px #078197;
    border-radius: 10px;
    text-align: center;
    transition: linear .2s;
}
input::placeholder {
    color: #ffffff9a;
}
input:focus {
    border: solid 2px #28bed8;
    box-shadow: 0 0 3px #28bed87e;
    outline: none;
    transition: linear .2s;
}
button.submit {
    background: #078197;
    color: #fff;
    padding: 8px 10px;
    border-radius: 10px;
    border: solid 2px #078197;
    max-width: 255px;
    margin: auto;
    width: 100%;
    margin-top: 5px;
    cursor: pointer;
}

.container .login, .container .register {
    font-size: 12px
}
.register-link p, .login-link p {
    margin: 0;
}

.register-link, .login-link {
    margin-top: 25px;
}
input:disabled {
    color: rgba(255, 255, 255, .45);
}
/* .container .login p, .container .register p {
    margin: 25px 0 0;
} */
/* ______ END FORM ___ */




/* ___ HOME ______ */

.section-user-account h1, .section-user-account h2 {
    text-align: center;
}

/* ______ END HOME ___ */


/* ___ USER SETTINGS ______ */

/* .update form.data {
    height: 100%;
    overflow: inherit;
    transition: linear .2s;
}
.update form.data.toggle {
    height: 0;
    overflow: hidden;
} */

.section.user-account h2 {
    margin-bottom: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button.button--update-info__profile,
button.button--update-info__password,
button.button--update-info__save-info,
button.button--update-info__save-password,
button.button--update-info__cancel-info,
button.button--update-info__cancel-password
 {
    background: #078197;
    color: #fff;
    padding: 8px 10px;
    border-radius: 10px;
    border: solid 2px #078197;
    max-width: 135px;
    margin: auto;
    width: 100%;
    margin-top: 0px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: linear .2s;
}

button.button--update-info__save-info,
button.button--update-info__save-password {
    width: calc(50% - 10px);
}

button.button--update-info__cancel-info,
button.button--update-info__cancel-password {
    /* max-width: 100px; */
    width: calc(50% - 10px);
    background: #132f46;
    border: solid 2px #078197;
}

button[disabled] {
    opacity: .6;
    background: transparent;
}

/* ______ END USER SETTINGS ___ */

/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 500000s;
  -webkit-text-fill-color: #fff !important;
} */