.buttonbar-container {
    width: 100vw;
    height: fit-content;
    display: flex;
    padding: 16px 10px 32px 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    background: #FFF;
    box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.05);
    position: fixed;
    z-index: 500;
    bottom: 0;
}