.contextualModal-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(44, 39, 24, 0.10);
    z-index: 1000;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
}

.contextualModal-container {
    background-color: var(--white);
    width: 100vw;
    height: fit-content;
    padding: 36px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 16px 16px 0px 0px;
}