.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background: var(--bgheaderfooter);
  height: fit-content;
  z-index: 20;
}

.header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px 0;
  flex-wrap: wrap;
}

@media (min-width: 424px) {
    .header div {
      padding: 10px 20px;
    }
}

.header h1 {
  margin: 0;
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

header button {
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 7px;
}

.avatar-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}