.profile {
  padding: 110px 0;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.545);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
}

.close-changeform-button {
  background: rgb(255, 107, 107);
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 15px;
}

.change-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background: white;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px 25px 25px 10%;
}
.change-form h2 {
  margin: 5px 0 10px 0;
}

.change-form div {
  display: flex;
  flex-wrap: wrap;
}

.change-form input {
  width: 250px;
  margin: 5px;
}
