.button {
  align-items: center;
  background-clip: padding-box;
  background-image: radial-gradient(circle, var(--orange200), var(--orange300));
  border: 0.15em solid var(--orange400);
  border-radius: 0.15em;
  box-shadow: var(--blank200) 0 1px 3px 0;
  color:  var(--blank100);
  cursor: pointer;
  display: inline-flex;
  font-size: 0.65em;
  font-weight: 700;
  justify-content: center;
  line-height: 1.85em;
  margin: 0;
  height: 1.85em;
  text-shadow: var(--blank400) 1px 1px 1px;
  position: relative;
  vertical-align: baseline;
  width: auto;
}

.button:hover,
.button:focus {
  background-image: radial-gradient(circle, var(--orange100), var(--orange200));
  box-shadow: var(--blank400) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}

.quit {
  background-image: radial-gradient(circle, var(--red100), var(--red200));
  border: 0.15em solid var(--red300);
  max-width: 3.75em;
}

.quit:hover,
.quit:focus {
  background-image: radial-gradient(circle, var(--red100), var(--red200));
  box-shadow: var(--blank400) 0 4px 12px;
}

.pass, .next {
  background-image: radial-gradient(circle, var(--blue100), var(--blue300));
  border: 0.15em solid var(--blue400);
}

.pass:hover,
.pass:focus,
.next:hover,
.next:focus {
  background-image: radial-gradient(circle, var(--blue100), var(--blue300));
  box-shadow: var(--blank400) 0 4px 12px;
}

.sendAnswer {
  align-items: center;
  background-clip: padding-box;
  background-image: radial-gradient(circle, var(--green100), var(--green200));
  border: 0.15em solid var(--green300);
  border-radius: 0.15em;
  box-shadow: var(--blank200) 0 1px 3px 0;
  color:  var(--blank100);
  cursor: pointer;
  display: inline-flex;
  font-size: 0.65em;
  font-weight: 700;
  justify-content: center;
  line-height: 1.85em;
  height: 1.85em;
  text-shadow: var(--blank400) 1px 1px 1px;
  position: relative;
  vertical-align: baseline;
  width: auto;
}

.sendAnswer:hover,
.sendAnswer:focus {
  box-shadow: var(--blank400) 0 4px 12px;
}

.sendAnswer:hover {
  transform: translateY(-1px);
}

@media (min-width: 768px) {
  .button {
    font-size: 1.25em;
    line-height: 1.25em;
    margin: 0;
    height: 2em;
  }

  .quit {
    min-width: 4em;
  }

  .sendAnswer {
    font-size: 1.25em;
    height: 2em;
    line-height: 1.25em;
  }

}

@media (max-width: 350px) {

  .button {
    font-size: 0.45rem;
    line-height: 0.5rem;
  }

  .sendAnswer {
    font-size: 0.45rem;
    line-height: 0.5rem;
  }
  
}






