.time {
    display: block;
    width: 3em;
    height: 3em;
    font-size: 0.75em;
    line-height: 3em;
    border: 0.15rem solid var(--orange400);
    box-shadow: var(--blank200) 2px 1px 5px;
    border-radius: 50%;
    background-image: radial-gradient(circle, var(--orange200), var(--orange300));
    color: var(--blank100);
    font-weight: 600;
    text-shadow: var(--blank400) 1px 1px 1px;
    text-align: center;
    cursor: default;
}

.score {
    display: block;
    width: 1.5em;
    height: 1em;
    font-size: 0.75em;
    line-height: 1em;
    border-radius: 5%;
    border: 0.15rem solid var(--orange400);
    box-shadow: var(--blank200) 2px 1px 5px;
    padding: 0 0.5em;
    background-image: radial-gradient(circle, var(--orange200), var(--orange300));
    color: var(--blank100);
    font-weight: 500;
    text-shadow: var(--blank400) 1px 1px 1px;
    text-align: center;
    cursor: default;
}

@media (min-width: 768px) {
    .time {
        width: 2.25em;
        height: 2.25em;
        line-height: 2.25em;
        font-size: 1.75em;
        font-weight: 800;
        border: 0.25rem solid var(--orange400);
    }

    .score {
        width: 1.5em;
        height: 1.45em;
        font-size: 1.25em;
        line-height: 1.45em;
        font-weight: 800;
        padding: 0 0.65em;
        border: 0.25rem solid var(--orange400);
    }
}

@media (max-width: 350px) {
    .time {
        width: 2.15em;
        height: 2.15em;
        font-size: 0.75em;
        line-height: 2.15em;
        font-weight: 800;
        border: 0.1rem solid var(--orange400);
    }

    .score {
        width: 0.75em;
        height: 0.95em;
        font-size: 0.75em;
        line-height: 0.95em;
        font-weight: 800;
        padding: 0 0.65em;
        border: 0.1rem solid var(--orange400);
    }
}