@import "./grid.css";
@import "./letters.css";
@import "./buttons.css";
@import "./question.css";
@import "./scoreboard.css";

@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;400;500;600;700;800&display=swap');


:root{
    --blue400: #000d72;
    --blue300: #1e2a82;
    --blue200: #3744a9;
    --blue100: #4164ae;
    --orange400: #942300;
    --orange300: #ff3c00;
    --orange200: #ff7b00;
    --orange100: #f49a24;
    --blank500: #232323;
    --blank400: #414141;
    --blank300: #808080;
    --blank200: #dedede;
    --blank100: #f8f8ff;
    --green300: #0a4100;
    --green200: #287a19;
    --green100: #67cf55;
    --red300: #4e0505;
    --red200: #890000;
    --red100: #cf5047;
}


* {
    background: var(--blank100);
    font-family: 'Sono', sans-serif;
    font-size: small;
}

.hidden {
	display: none;
}

h1{
    margin-block-start: 0;
    margin-block-end: 0;
    text-shadow: var(--blue400) 2px 0 1px;
    color: var(--blue200);
    font-size: 3em;
    font-weight: 800;
}


@media (min-width: 768px) {
    h1{
        font-size: 5em;
    }
    * {
        background: var(--blank100);
        font-family: 'Sono', sans-serif;
        font-size: medium;
    }
}