.home{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .home-header, .home-footer {
    position: fixed;
    background-color: dodgerblue;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
  }
  
  .home-header {
    top: 0;
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;
  }
  
  .home-footer {
    bottom: 0;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
  }

  .home-header-nav {
    display: flex;
    align-items: center;
    gap: .4rem;
  }
  
  .home-header-avatar {
    width: 2rem;
    border-radius: 1rem;
  }