/* resets */
html, body {
  min-height: 100vh;
  max-height: fit-content;
}

body {
  margin: 0;
  padding: 0;
}

/* styles */

:root {
  --basecolor: yellow;
  --basebgcolor: orange;
}

.off {
  display: none !important;
}

.page {
  background-color: var(--basebgcolor);
  height: 100vh;
  padding-bottom: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--basecolor);
  font-size: 50px;
  margin: 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 60vw;
  gap: 1rem;
}

.input, .button {
  padding: .5rem .6rem;
  border-radius: .75rem;
  background-color: var(--basecolor);
  box-shadow: 0 0 0 20px yellow inset;
}

/* .input:-webkit-autofill {
  background-color: var(--basecolor)!important;
  -webkit-box-shadow: 0 0 0 20px yellow inset;
} */

button {
  cursor: pointer;
}

.button--accept {
  background-color: greenyellow;
}

.button--cancel {
  background-color: tomato;
}

@media (min-width: 768px) {
  .page {
      background-color: tomato;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #70b8ff;
  height: 60px;
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

header button {
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 7px;
}

.home-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #70b8ff;
  height: 60px;
}

/* .profile {
  position: static;
  top: 20%;
  background: var(--basebgcolor);
  width: 100vw;
}

.change-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 400px;
  background: white;
  border: 2px solid grey;
  border-radius: 10px;
  margin-top: 20px;
}
.change-form input {
  width: 300px;
} */

.profile {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--basebgcolor);
}
  
.change-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background: white;
  border: 2px solid grey;
  border-radius: 10px;
  margin: 0 20px 15px 20px;
  padding: 10px 25px 25px 10%;
}
.change-form h2 {
  margin: 5px 0 10px 0;
}

.change-form div {
  display: flex;
  flex-wrap: wrap;
}

.change-form input {
  width: 250px;
  margin: 5px;
}

html, body {
  height: 100vh;
}

.avatar-image {
  height: 30px;
  border-radius: 50%;
}

a {
  cursor: pointer;
  user-select: none;
}

.add-post {
  width: 100vw;
  height: 100vmax;
  background-color: rgba(0, 0, 0, 0.545);
  position: absolute;
  top: 0;
  z-index: 10;
}

.add-post-form {
  background: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 150px;
}

.post-url {
  width: 250px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 0 20px yellow inset;
}

.post-text {
  width: 250px;
  border: 2px solid black;
  height: 100px;
  box-shadow: 0 0 0 60px yellow inset;
  border-radius: 10px;
  padding: 10px;
}

.created-posts {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  flex-wrap: wrap;
}

.home {
  margin: 60px 0px;
}

.user-post {
  padding: 20px;
  height: 200px;
  width: 150px;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.user-post p {
  margin: 0 0 10px 0;
}

.image-post {
  height: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.bigger-post{
  position: fixed;
  top: 30%;
  right: 30%;
  gap: 20px;
  height: 400px;
  width: 300px;
}

.bigger-post img {
  height: fit-content;
  margin: 30px;
}

.dark-background {
  width: 100vw;
  height: 100vmax;
  background-color: rgba(0, 0, 0, 0.545);
  position: absolute;
  top: 0;
  z-index: 10;
}

