/* resets */
html, body {
  min-height: 100vh;
  max-height: fit-content;
}

body {
  margin: 0;
  padding: 0;
}

/* styles */

:root {
  --basecolor: yellow;
  --basebgcolor: orange;
}

.off {
  display: none !important;
}

.page {
  background-color: var(--basebgcolor);
  min-height: 100vh;
  max-height: fit-content;
  padding-bottom: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--basecolor);
  font-size: 50px;
  margin: 20px 0;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 60vw;
  gap: 1rem;
}

.input, .button {
  padding: .5rem .6rem;
  border-radius: .75rem;
  background-color: var(--basecolor);
  box-shadow: 0 0 0 20px yellow inset;
}

button {
  cursor: pointer;
}

.button--accept {
  background-color: greenyellow;
}

.button--cancel {
  background-color: tomato;
}

@media (min-width: 768px) {
  .page {
      background-color: tomato;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #70b8ff;
  height: 60px;
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

header button {
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 7px;
}

.home-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #70b8ff;
  height: 60px;
}

.profile {
  padding-top: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.545);
  position: fixed;
  top: 0;
  z-index: 10;
}

.close-changeform-button {
  background: rgb(255, 107, 107);
  border-radius: 10px;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 15px;
}

.name-avatar-profile {
  cursor: pointer;
  user-select: none;
}
  
.change-form {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background: white;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px 25px 25px 10%;
}
.change-form h2 {
  margin: 5px 0 10px 0;
}

.change-form div {
  display: flex;
  flex-wrap: wrap;
}

.change-form input {
  width: 250px;
  margin: 5px;
}

html, body {
  height: 100vh;
}

.avatar-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.add-post, .edit-post {
  width: 100vw;
  height: 100vmax;
  background-color: rgba(0, 0, 0, 0.545);
  position: absolute;
  top: 0;
  z-index: 10;
}

.add-post-form, .edit-post-form {
  background: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 150px;
}

.post-url {
  width: 250px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 0 20px yellow inset;
}

.post-text {
  width: 250px;
  border: 2px solid black;
  height: 100px;
  box-shadow: 0 0 0 60px yellow inset;
  border-radius: 10px;
  padding: 10px;
}

.created-posts {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  gap: 15px;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.home {
  margin: 60px 0px;
}

.user-post {
  padding: 20px;
  height: 200px;
  width: 150px;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.user-post p {
  margin: 0 0 10px 0;
}

.image-post {
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: contain;
  height: 100px;
}

.bigger-post{
  position: fixed;
  top: 17%;
  gap: 20px;
  height: 400px;
  max-width: 300px;
  width: fit-content;
  cursor: default;
}

.bigger-post img {
  height: fit-content;
  width: 300px;
  max-height: 200px;
}

.selected-post-page {
  width: 100%;
  min-height: 100vmax;
  max-height: fit-content;
  background-color: rgba(0, 0, 0, 0.545);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.pop-up-window {
  background: rgb(159, 159, 255);
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 7.5px;
  position: fixed;
  bottom: 13%;
}

.pop-up-window-div {
  display: flex;
  justify-content: center;
}

.close-post-button {
  background: rgb(255, 116, 116);
  font-size: 15px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border: 0.5px solid grey;
  border-radius: 3px;
}

.edit-post-button {
  background: rgb(127, 127, 255);
  font-size: 15px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border: 0.5px solid grey;
  border-radius: 3px;
}

.avatar-author-div {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
  align-items: center;
}

.avatar-author-post {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.post-author {
  font-weight: 10px;
  display: flex;
  align-items: center;
}

.bigger-post .avatar-author-div {
  height: fit-content;
  width: 250px;
  margin: 0;
}

.bigger-post .avatar-author-post {
  height: 40px;
  width: 40px ;
}

.bigger-post .post-author {
  font-weight: 30px;
}
