:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
    --fuente: #0e0e0e;
    --aqua: #45c2c5;
    --background-white: rgba(255, 255, 255, 0.85);
    --background-light: rgba(252, 245, 242, 0.85);
    --background-dark: rgba(236, 230, 226, 0.85);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

header {
    display: flex;
    align-self: center;
    justify-content: center;
    background: var(--background-dark);
    width: 100%;
    border-bottom: 2px solid var(--gris);
    height: 20vh;
}

header h1 {
    background-image: linear-gradient(90deg, #1a1a1a, #595959, #999999);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 8vh;
}

.title {
    background-image: linear-gradient(90deg, #1a1a1a, #595959, #999999);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    align-self: center;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-white);
    margin: 0;
}

p {
    color: var(--fuente);
}

img{
    width: 200px;
    height: 200px;
}

article{
    border-top: 2px solid black;
}

article:first-child{
    border-top: none;
}

/** Globales **/
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
    justify-self: center;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

a {
    color: var(--negro);
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.boton {
    display: block;
    justify-self: center;
    align-self: center;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
}

.boton:hover {
    cursor: pointer;
    color: var(--negro);
    background-color: var(--gris);
}

.boton--primario {
    background-color: var(--negro);
}

.boton--secundario {
    background-color: var(--primario);
}

.error {
    background-color: rgb(185, 0, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
}

.correcto {
    background-color: rgb(74, 185, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
}

.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.formulario {
    background-color: var(--background-white);
    margin: 0;
    width: 95%;
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.campo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
    gap: 20px;
}

.campo__label {

    text-align: left;
    justify-self: left;
    padding-right: 2rem;
}

.campo__field {

    border: 1px solid var(--gris);
    border-radius: 5px;
    max-width: 300px;
}

.formulario .campo .boton {
    grid-area: 4/1/4/3;
}


.campo-viewonly {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.formulario-login .campo .boton {
    grid-area: 3/1/3/3;
}



.off {
    display: none !important;
}

.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 300px;
}

.saludo {
    width: 100%;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.nav-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.profile-column {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items:center;
    margin: 0;
    background: var(--background-dark);
    position: fixed;
}

.profile-column h1{
    justify-self: center;
}

.profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-image-picture {
    border: 2px solid var(--gris);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--aqua);
}

.profile-image-picture p {
    font-size: 25px;
}

.profile-view {
    width: 100vw;
    min-width: 300px;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-close-profile{
    max-width: 120px;
}

.password-change {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: start;
    align-self: center;
    width: 100%;
}

.password-change .campo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40vw;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.mail-change {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: start;
    width: 100%;
}

.mail-change .campo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 40vw;
}

.buttons-control {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 200px;
}