.user-card {
  width: 75%;
  background-color: var(--color-surface-100);
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: var(--color-surface-200) 0 .5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-card__border {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.user-view__change {
  height: 4.5rem;
  width: 4.5rem;
  margin-right: 1rem;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--color-surface-300);
  border-radius: .5rem;
  transform: translate(50%, -50%);
  -webkit-tap-highlight-color: var(--color-primary-transparence);
  border: 0.01rem solid var(--color-secondary-300);
  box-shadow: var(--color-surface-400) 0 .5rem 1.5rem;
}

.user-view__icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-primary-300);
}

.user-view__name {
  font-size: 0.75em;
  padding-top: 0.15rem;
  line-height: 0.75em;
}

.user-card__avatar,
.user-card__avatar-image {
  border-radius: 50%;
  overflow: hidden;
  height: 8rem;
  width: 8rem;
  background-color: var(--color-surface-400);
  position: relative;
  z-index: 1;
}

.user-card__name {
  color: var(--color-primary-300);
  font-size: 1em;
  font-weight: 500;
}

.user-card__username {
  color: var(--color-secondary-100);
  font-size: 0.85em;
  font-weight: 200;
}

.user-card__data {
  display: flex;
  width: 8rem;
  flex-direction: row;
  align-items: end;
  justify-content: center;
}

.user-card__footer {
  display: flex;
  align-items: start;
  justify-content: flex-end;
}