html, body {
    height: 100%;
}

body {
    width: 100%;
    background-color: rgb(2, 58, 72);
   
}

:root {
    --basewhitecolor: white; 
    --baseblack: black;   
    --basebluecolor: rgb(2, 58, 72);
}

.register, .login, .home {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--basewhitecolor)
   
   
}
.login-form, .register-form, .logint {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    box-shadow: .3rem .3rem 0.3rem teal;
    
    
}


input{
   width: 200px;
   height: 25px;
   border-radius: 10%;
   background-color: transparent;
   box-shadow: .3rem .3rem 0.3rem teal;
}

button {
width: 75px;
margin: 0.25rem;
height: 30px;
background-color: transparent;
box-shadow: .3rem .3rem 0.3rem teal;
}

a, .register-text-goToLogin, .login-text-goToRegister {
    font-size: .75rem;
    color: var(--basewhitecolor);
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 95px;

}

.home-header {
    position: fixed;
    background-color: var(--basewhitecolor);
    width: 100%;
    display: flex;
    border: 0.3rem solid var(--basewhitecolor);
}

.off {
    display:none;
}