.profile-avatar-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--basecolor);
    justify-content: center;
    align-items: center;
  
  }
  
  .profile-password-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--basecolor);
    justify-content: center;
    align-items: center;
  
  }
  