* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}

body {
    background: rgb(180, 242, 250);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.register, .login, .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

h1 {
    font-size: 40px;
    color:rgb(196, 87, 87);
}

h2 {
    font-size: 30px;
    color: rgb(13, 81, 83);
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

input {
    width: 200px;
    height: 25px;
    padding-left: 10px;
    margin-bottom: 5px;
    border: 1px solid rgb(21, 129, 133);
    border-radius: 5px;
    font-size: 17px;
    color: rgb(13, 81, 83);
}

input:focus {
    outline: unset;
}

label {
    padding-right: 20px;
    font-size: 17px;
    color: rgb(13, 81, 83);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.sign-up, .login-button {
    width: 70px;
    height: 30px;
    font-size: 18px;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: inset 0 0 15px 10px rgb(196, 87, 87);
    background:rgb(196, 140, 140);
}

.sign-up:hover, .login-button:hover {
    box-shadow: inset 0 0 15px 10px rgb(196, 140, 140);
    background:rgb(196, 87, 87);
}

.sign-up:active, .login-button:active {
    box-shadow: inset 0 0 15px 10px rgb(196, 87, 87);
    background:rgb(196, 140, 140);
}