* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #A2BADF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register, .login, .profile, .change-password {
    background: #ffffff;
    width: 14rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.25);
}

.home {
    height: 100%;
    display: contents;
    justify-content: center;
    align-items: center;
}

.profile {
    gap: 1.25rem;
}

.register-form, .login-form, .change-password-form {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    margin-top: 1.25rem;
}

.register-title, .login-title, .home-title, .profile-title, .change-password-title, h2 {
    font-size: 0.813rem;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.8);
    line-height: 0.983rem;
    text-align: center;
}

.home-title {
    font-size: 1rem;
}

h2 {
    font-size: 1.25rem;
}

.login-title {
    font-size: 1rem;
    margin-bottom: 0.625rem;
}

.register-input, .login-input, .change-password-input {
    height: 1.75rem;
    font-weight: 500;
    font-size: 0.625rem;
    color: #000000;
    line-height: 0.047rem;
    border: 0;
    background: rgba(223, 221, 221, 0.8);
    border-radius: 0.75rem;
    padding: 0.75rem;
    outline: none;
}

.register-button, .login-button, .profile-change-password, .profile-logout, .change-password-button {
    width: 10rem;
    height: 1.75rem;
    font-weight: 500;
    font-size: 0.75rem;
    color: #ffffff;
    line-height: 0.047rem;
    border: 0;
    background: #5589D9;
    border-radius: 0.75rem;
    padding: 0.75rem;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.3);
}

.register-button, .change-password-button {
    margin-top: 0.313rem;
}

.login-button {
    margin-top: 0.938rem;
}

.profile-logout {
    width: 5rem;
    margin-left: 15.625rem;
}

.login-answer {
    margin-top: 2.5rem;
    margin-bottom: -0.625rem;
    font-weight: 400;
    font-size: 0.625rem;
    margin-left: -0.563rem;
    margin-right: -0.625rem;
}

.register-answer {
    margin-top: 2.5rem;
    margin-bottom: -0.625rem;
    font-weight: 400;
    font-size: 0.625rem;
    text-align: center;
}

.login-link, .register-link, .forgot-password-link {
    font-weight: 600;
    color: #000000;
}

.forgot-password-link {
    font-size: 0.625rem;
    margin-top: -0.625rem;
    text-align: end;
}

.profile-link {
    font-weight: 600;
    color: #3b5f96;
    margin-bottom: 1.875rem;
    margin-right: 15.625rem;
}

.register-error, .login-error, .change-password-error {
    font-weight: 400;
    font-size: 0.563rem;
    text-align: center;
    color: red;
    margin-top: -0.625rem;
    margin-bottom: -0.625rem;
}

.off {
    display: none;
}