* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background: #5589D9;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scroll-lock {
    overflow-y: hidden;
}

.title, h2 {
    font-size: 1rem;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.8);
    line-height: 0.983rem;
    text-align: center;
}

.home-title {
    font-size: 1.3rem;
    font-weight: 600;
    color: #5589D9;
}

h2 {
    font-size: .8rem;
}

.register, .login, .profile, .change-password, .posts {
    background: #ffffff;
    width: 14rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.25);
}

.home {
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
}

.home-header{
    position: fixed;
    top: 0;
    padding: 14px 30px 30px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
}

.home-header-nav {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.avatar {
    width: 2rem;
    border-radius: 1rem;
}

.profile {
    gap: 1.25rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    margin-top: 1.25rem;
}

.input, .textarea {
    height: 1.75rem;
    font-weight: 500;
    font-size: 0.625rem;
    color: #000000;
    border: 0;
    background: rgba(223, 221, 221, 0.8);
    border-radius: 0.75rem;
    padding: 0.75rem;
    outline: none;
}

.textarea {
    height: auto;
}

.button {
    width: 10rem;
    height: 1.75rem;
    font-weight: 500;
    font-size: 0.75rem;
    color: #ffffff;
    line-height: 0.047rem;
    border: 0;
    background: #5589D9;
    border-radius: 0.75rem;
    padding: 0.75rem;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.3);
}

.register-button {
    margin-top: 0.313rem;
}

.profile-logout-button {
    margin-left: .5rem;
    width: 5rem;
}

.login-answer {
    margin-top: 2.5rem;
    margin-bottom: -0.625rem;
    font-weight: 400;
    font-size: 0.625rem;
    margin-left: -0.563rem;
    margin-right: -0.625rem;
}

.register-answer {
    margin-top: 2.5rem;
    margin-bottom: -0.625rem;
    font-weight: 400;
    font-size: 0.625rem;
    text-align: center;
}

.login-link, .register-link, .forgot-password-link {
    font-weight: 600;
    color: #000000;
}

.forgot-password-link {
    font-size: 0.625rem;
    margin-top: -0.625rem;
    text-align: end;
}

.profile-link {
    font-weight: 600;
    color: #5589D9;
}

.register-error, .login-error, .change-password-error, .update-avatar-error, .add-post-error {
    font-weight: 400;
    font-size: 0.563rem;
    text-align: center;
    color: red;
    margin-top: -0.625rem;
    margin-bottom: -0.625rem;
}

.posts-list {
    margin-top: 9rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.button-new-post-container {
    width: 100%;
    padding-right: 30px;
    position: absolute;
    top: 5.5rem;
    display: flex;
    justify-content: end;
}

.new-post-button {
    width: 6rem;
    background: #ffffff;
    color: #5589D9;
    font-weight: 600;
}

.modal {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

article {
    background-color: #ffffff;
}

.post-image {
    width: 100%;
    height: 200px;
}

.off {
    display: none;
}