html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --base-color: rgb(255, 255, 255, 0.8);
}

.register {
  background-color: rgb(23, 94, 122);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-title {
  color: var(--base-color);
}

.register-form {
  display: flex;
  flex-direction: column;
  min-width: 60vw;
  gap: 1rem;
}

.register-imput .register-button {
  padding: 0.5rem 0.6rem;
  border-radius: 0.5rem;
}

.register-button {
  cursor: pointer;
}

@media (min-width: 768px) {
  .register-button:hover {
    background-color: darkgray;
  }
} ;
