.menu-icon {
  cursor: pointer;
  margin-right: 20px;
  font-size: xx-large;
}

.menu {
  margin: -2px -2px 0 0;
  background-color: var(--basebgcolor);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 2px solid black;
  height: 80vh;
  min-width: 150px;
  width: 18%;
  min-width: 175px;
  list-style-position: inside;
  position: fixed;
  left: 0;
  top: 120px;
}

@media (min-width: 634px) {
  .menu {
    top:78px
  }
}

.menu li {
  cursor: pointer;
  padding: 10px 5px;
  margin: 0;
  font-size: 17px;
}

.menu li:hover {
  background: rgb(216, 216, 216);
}
