.user-post {
  padding: 20px;
  width: 75%;
  max-width: 400px;
  max-height: 400px;
  margin: 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  user-select: none;
  overflow-y: scroll;
  box-shadow: 2px 2px 2px 2px grey;
  color: black;
}

.user-post::-webkit-scrollbar {
  display: none;
}


.text-post {
  margin: 0 20px 30px 20px;
  text-align: justify;
  overflow-wrap: break-word;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image-post {
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: contain;
  width: 70%;
  max-height: 50vh;
  max-width: 60vw;
}

.above-image {
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  border-radius: 7.5px;
  margin: 0 10px 30px 10px;
}

.above-image div {
  display: flex;
  align-items: center;
}

.post-user-avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.post-user-avatar {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  object-fit: cover;
}

.post-user-name {
  font-size: 15px;
}

.edit-post-button, .delete-post-button, .toggle_visible_button, .sell-post-button {
  background: transparent;
  font-size: 13px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  padding: 0px 5px;
  border: 0px solid grey;
}

.sell-post-button {
  display: flex;
  align-items: center;
  gap: 2px;
}

.under-image {
  display: flex;
  align-items: center;
  margin: 0 0 15px 20px;
}

.heart-icon, .favorite-icon, .comment-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 20px;
  cursor: pointer;
  margin-right: 5px;
}

.date-post {
  margin: 0px 0 0 10px !important;
}

.likes-post {
  text-align: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.filled {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.liked {
  color: red;
}

.saved {
  color: rgb(0, 0, 0);
}