.menu-icon {
  cursor: pointer;
  margin-right: 20px;
  font-size: xx-large;
}

.sidebar-menu {
  margin: -2px -2px 0 0;
  background-color: var(--basebgcolor);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 2px solid black;
  height: 80vh;
  width: 18%;
  min-width: 175px;
  list-style-position: inside;
  position: fixed;
  left: 0;
  top: 120px;
  animation: slide 0.3s linear forwards;
}

.closed {
  animation: slide-back 0.3s linear forwards;
}

@keyframes slide {
  0% { left: -300px }
  100% { left: 0 }
}

@keyframes slide-back {
  0% { left: 0 }
  100% { left: -300px }
}

@media (min-width: 634px) {
  .sidebar-menu {
    top:78px
  }
}

.sidebar-menu li {
  cursor: pointer;
  padding: 10px 5px;
  margin: 0;
  font-size: 17px;
}

.sidebar-menu li:hover {
  background: rgb(216, 216, 216);
}
