@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --solid-blue: #021950;
    --intense-blue: #032882;
    --accent-purple:#833ee5;
    --accent-purple-hover: #641BCA;

    --violet-800: #929AC4;
    --violet-700: #AFB5D4;
    --violet-600: #929AC4;
    --violet-500: #D1D4E6;
    --violet-400: #DEE0ED;
    --violet-300: #E3E5F0;

    --grey-700:#3B4257 ;
    --grey-600:#4A536D ;
    --grey-500:#545F7D ;
    --grey-400:#657195 ;
    --grey-300:#8F98B3 ;
    --grey-200:#AAB1C5 ;
    --grey-100:#D4D8E2 ;
    --white:#FFFFFF ;
}

body{
    margin: 0px;
}
.registration{
background-color:#F8FAFB ;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.centered-containers{
    background-color: #FFFFFF;
    width: fit-content;
    height: fit-content;
    min-width: 310px;
    max-width:358px;
    padding:24px;
    border-radius: 24px;
    box-shadow:0px 4px 10px rgba(59, 66, 87, 0.15)  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-form{
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 270px;
}

.title{
    color: #3B4257;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    height: fit-content;
    margin-bottom: 16px;
}

.text-field{
    background-color: none;
    border: 1px solid #C7C8CC;
    border-radius: 12px;
    height: 40px;
    margin-bottom: 24px;
    padding-left: 12px;
}

.text-field-label{
    color: #3B4257;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    margin: 6px;
    margin-left: 0px;
}



.primary-button{
    background-color:var(--solid-blue) ;
    color: #FFFFFF;
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 12px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.primary-button:hover {
    background-color: var(--intense-blue);
}

.secondary-button{
    color: var(--solid-blue);
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: 1px solid var(--violet-700);
    border-radius: 12px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.secondary-button:hover {
    background-color: var(--violet-400);
}


.already-account-container{
    display: flex;
}

.already-account{
    color: #3B4257;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
}

.link{
    color: var(--accent-purple);
    background: none;
    border: none;
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
color: var(--accent-purple-hover);
}

.login{
    background-color:#F8FAFB ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-account{
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.sign-in{
    margin-left: 8px;
}

.error-message{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 43, 71);
    margin-top: 0px;
    margin-bottom: 24px;
}

.success-message{
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    color: rgb(13, 142, 11);
    margin-top: 0px;
    margin-bottom: 24px;
}

.homepage{
    margin: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-container{
    height: 100vh;
    width: fit-content;
    display: flex;
    align-items: end;
}

.main-container{
    height: 100vh;
    width: 990px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centre-container{
    height: 100vh;
    width: 990px;
}
.topbar{
    height:100vh;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #dadada;
    margin-left: 40px;
    padding-right:8px;
    padding-bottom: 16px;
}

.topbar-logo-and-actions{
    padding-top: 16px;
}
.topbar-actions{
    height: fit-content;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 32px;
}

.topbar-actions-row{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 8px;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
}

.topbar-actions-row:hover{
    background-color: var(--violet-300);
}



.topbar-profile{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: space-between; 
    transition: 0.3ms;
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
}

.topbar-profile:hover{
    background-color: var(--violet-300);
}

.topbar-profile-user-and-avatar{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.topbar-profile-user-data{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-right: 40px;
}


.topbar-avatar{
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.update-avatar-image-preview{
    width: 100px;
    height: auto;
}

.logo-and-hello{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-left: 4px;
    
}
.home-logo{
    width: 40px;
    height: 40px;
    font-size: 16px;
    margin: 0px;
    padding: 8px;
    text-align: center;
}

.homepage-hello{
    color: #3B4257;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
}

@media (min-width: 768px){
    .homepage-hello{
        font-size: 24px;
    }
    .home-logo{
        font-size: 32px; 
    }
}

.profile{
    max-width: 600px;
}

.profile-navigation-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.navigation-row{
    color: #3B4257;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    background-color:#F2F5F7;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    height: fit-content;
    cursor: pointer;
}

.nav-row-avatar{
    margin-bottom: 16px;
}

.subtitle {
    color: #3B4257;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    height: fit-content;
    margin-bottom: 40px;
    margin-top: 0;
}


.button-bar{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
}

.off{
    display: none;
}