@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');




body{
    margin: 0px;
}
.registration{
background-color:#F8FAFB ;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.centered-containers{
    background-color: #FFFFFF;
    width: fit-content;
    height: fit-content;
    padding:32px;
    border-radius: 24px;
    box-shadow:0px 4px 10px rgba(59, 66, 87, 0.15)  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centered-form{
    display: flex;
    flex-direction: column;
    width: 316px;
}

.register-introduction{
    color: #3B4257;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    height: fit-content;
    margin-bottom: 40px;
}

.text-field{
    background-color: none;
    border: 1px solid #C7C8CC;
    border-radius: 12px;
    height: 40px;
    margin-bottom: 24px;
    padding-left: 12px;
}

.text-field-label{
    color: #3B4257;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    margin: 6px;
    margin-left: 0px;
}

.primary-button{
    background-color:#1B4DDC ;
    color: #FFFFFF;
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 12px;
    margin-bottom: 16px;
    cursor: pointer;
}

.already-account-container{
    display: flex;
}

.already-account{
    color: #3B4257;
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
}

.link{
    color: #1B4DDC;
    background: none;
    border: none;
    font-family: "Inter";
    font-weight: 600;
    font-size: 16px;
}

.login-introduction{
    color: #3B4257;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    height: fit-content;
    margin-bottom: 40px;
}

.login{
    background-color:#F8FAFB ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password{
    margin-bottom: 40px;
}

.off{
    display: none;
}