.illustration-gif {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}

.empty-state-img-container {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-state-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}