/* resets */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

/* styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basebgcolor);
  color: var(--basecolor);
}

:root {
  --basecolor: yellow;
  --basebgcolor: rgb(35, 69, 149, 0.8);
}

.page {
  background-color: var(--basebgcolor);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--basecolor);
}

.logo {
  width: 80px;

  margin: 20px;
}
.header--list-container {
  width: 80%;
}

.header--list {
  display: flex;

  align-items: center;
  list-style: none;
  justify-content: space-around;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 60vw;
  gap: 1rem;
}

.input,
.button {
  padding: 0.5rem 0.6rem;
  border-radius: 0.75rem;
  background-color: var(--basecolor);
}

.button {
  cursor: pointer;
}

@media (min-width: 768px) {
  .register-button:hover {
    background-color: goldenrod;
  }
}

.off {
  display: none;
}

.img-casa {
  width: 50%;
  height: 50%;
  border-radius: 15px;
}
