.alert {
    z-index: 99;
    backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
}

.alert .Panel {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fade-in 200ms;
}

.alert-message {
    text-transform: uppercase;
    text-align: center;
}

