@layer edit-post-modal {
	.edit-post-th {
		aspect-ratio: 1 / 1;
		width: 250px;
		align-self: center;
		border-radius: 10px;
        margin: 1rem 0 0 0;
	}

	.preview-image-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.edit-post-modal button {
		margin: 0 1rem 0 0;
	}

	.edit-post-modal .preview-image {
		margin: 1rem 0;
	}

	.input-preview {
		margin: 0 .5rem 0 0 !important;
		width: 100%;
	}

	
	.edit-post-modal textarea {
		align-self: center;
		width: 100%;
	}
	
	.modal-actions-container {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 1rem 0 0 0;
	}

	button.preview-image-button {
		margin: 0 1rem 0 1rem;
	}
}