.ModalWindow {
  min-height: 200px;
  max-height: 400px;
  width: 300px;
  padding: 15px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-radius: 20px;
  gap: 10px;
}