@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    font-family:'Poppins';
  }

body,html {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}
.off {
    display: none;
}
/*Variables*/
:root{
    --BaseColorBg:  #154a68;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:var(--BaseColorBg) ;
}

.header .logo {
  font-size: 25px;
  
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--BaseColorBg) ;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 35px 20px;
}
/* End header */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #d7dadd;
    height: 100%;
  }
/*Registrations form*/
.registartion-form {
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: rgb(255, 255, 255);
    font-size: 18px;
    
    background-color:  var(--BaseColorBg);
    padding: 20px;
    border-radius: 20px;
    gap:1rem;
  }
  
  .registartion-form input,
  .registartion-form select,
  .registartion-form textarea {
    border: none;
    padding: 5px;
    margin-top: 10px;
   
  }
  
  .registartion-form input:focus,
  .registartion-form textarea:focus {
    box-shadow: 3px 3px 10px rgb(228, 228, 228), -3px -3px 10px rgb(224, 224, 224);
  }
  
  .registartion-form .submit {
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
    color: rgb(44, 44, 44);
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .registartion-form .submit:hover {
    box-shadow: 3px 3px 6px rgb(255, 214, 176);
  }
  /*End registration form*/
  /*login form*/
.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
  
    color: rgb(255, 255, 255);
    font-size: 18px;
   
    background-color: var(--BaseColorBg);
    padding: 20px;
    border-radius: 20px;
    gap:1rem;
  }
  
  .login-form input,
  .regislogintartion-form select,
  .login-form textarea {
    border: none;
    padding: 5px;
    margin-top: 10px;
   
  }
  
  .login-form input:focus,
  .login-form textarea:focus {
    box-shadow: 3px 3px 10px rgb(228, 228, 228), -3px -3px 10px rgb(224, 224, 224);
  }
  
  .login-form .submit {
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
    color: rgb(44, 44, 44);
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .login-form .submit:hover {
    box-shadow: 3px 3px 6px rgb(255, 214, 176);
  }

 .login-form a {
    color:#d7dadd;
  }
  .login-form a:hover {
    color:whitesmoke;
  }

  .login-form .wrong {
    color:crimson ;
  }
  .login-form input {
    border: 2px solid;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 125px;
    padding: 0.5rem;
    transition: border-color 0.5s ease-out;
  }
  login-form input:optional {
    border-color: gray;
  }
  login-form input:required:valid {
    border-color: green;
  }
  login-form input:invalid {
    border-color: red;
  }
  login-form input:required:focus:valid {
    background: url('images/hand-thumbs-up.svg') no-repeat 95% 50% lightgreen;
    background-size: 25px;
  }
  input:focus:invalid {
    background: url('images/exclamation-triangle-fill.svg') no-repeat 95% 50% lightsalmon;
    background-size: 25px;
  }
  
  /*HOME*/
  

  hr {
    margin: auto;
    width: 40%;
  }

 