.post-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: var(--white-000);
  }
  
  .post-container > img {
    max-width: 100%;
    height: auto;
    margin: 0.25rem 0;
  }
  
  .post-container > div > p {
    margin: 0;
    color: var(--black-100);
  }
  
  .post-container > div, .post-container > p {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0;
    gap: 0.5rem;
  }
  
  .post-container .post-header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
  }
  
  .author-name {
    font-weight: 400;
  }
  
  .like-button {
    width: fit-content;
    padding: 0.25rem 0;
    border: none;
    background-color: var(--transparent);
    color: var(--black-100);
    font-size: 1.2rem;
  }
  
  .likes-counter {
    font-weight: 400;
  }
  
  .liked {
    color: var(--red);
  }
  
  .edit-button {
    border: none;
    background-color: var(--white-000);
    margin-left: auto;
    font-size: 1.2rem;
    color: var(--black-100);
  }