.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.calculatorGrid {
  display: grid;
  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: 7rem repeat(5, 4rem);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.screenArea {
  grid-area: 1 / 1 / 2 / 5;
  border-radius: 5%;
  background-color: ghostwhite;
  box-shadow: black 0.05rem 0.1rem 0.2rem;
  border: 0.1rem solid coral;
}

.screenGrid {
  display: grid;
  text-align: end;
  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: 3rem 4rem;
  grid-column-gap: 7px;
}

.operationArea {
  grid-area: 1 / 1 / 2 / 5;
  border-bottom: 0.01rem solid coral;
  overflow: hidden;
  direction: rtl;
  white-space: nowrap;
}

.resultsArea {
  grid-area: 2 / 1 / 3 / 5;
  overflow: hidden;
  direction: ltr;
  white-space: nowrap;
}

.clearArea {
  grid-area: 2 / 1 / 3 / 3;
}

.symbolValueArea {
  grid-area: 2 / 3 / 3 / 4;
}

.divideArea {
  grid-area: 2 / 4 / 3 / 5;
}

.sevenArea {
  grid-area: 3 / 1 / 4 / 2;
}

.eightArea {
  grid-area: 3 / 2 / 4 / 3;
}

.nineArea {
  grid-area: 3 / 3 / 4 / 4;
}

.multiplyArea {
  grid-area: 3 / 4 / 4 / 5;
}

.fourArea {
  grid-area: 4 / 1 / 5 / 2;
}

.fiveArea {
  grid-area: 4 / 2 / 5 / 3;
}

.sixArea {
  grid-area: 4 / 3 / 5 / 4;
}

.minusArea {
  grid-area: 4 / 4 / 5 / 5;
}

.oneArea {
  grid-area: 5 / 1 / 6 / 2;
}

.twoArea {
  grid-area: 5 / 2 / 6 / 3;
}

.threeArea {
  grid-area: 5 / 3 / 6 / 4;
}

.plusArea {
  grid-area: 5 / 4 / 6 / 5;
}

.zeroArea {
  grid-area: 6 / 1 / 7 / 2;
}

.comaArea {
  grid-area: 6 / 2 / 7 / 3;
}

.equalArea {
  grid-area: 6 / 3 / 7 / 5;
}
