
input {
  width: 300px;
  height: 35px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 10px;
}
.page-to-register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(101,255,69);
  background: linear-gradient(270deg, rgba(101,255,69,1) 0%, rgba(255,255,255,1) 49%, rgba(101,255,69,1) 100%);
}


.welcome-page {
  color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-home-page {
  font-size: 40px;
}

.buttons-home-page {
  margin-top: 20px;
  display: flex;
  gap: 40px;
}

.button {
  width: 100px;
  height: 40px;
  background: #82ff60;
  border: 1px solid black;
  border-radius: 7px;
}



.register {
  color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: black;
  font-size: 20px;
}

.form-register {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.enter-button {
  margin-top: 20px;
  width: 70px;
  height: 30px;
  background: #82ff60;
  border: 1px solid black;
  border-radius: 7px;
}



.login {
  color: green;
  width: 650px;
  display: flex;
  flex-direction: column;
}

.login h1 {
  margin-bottom: 40px;
}



.home {
  display: block;
}

.home h1 {
  font-size: 50px;
  color: green;
}




.hidden {
  display: none;
}
