.user-profile, .user-profile-logged {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-profile {
    padding-top: 4.5rem;
    padding-bottom: 0.5rem;
}