.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.meals-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.home-navigation-row {
    margin-top: 24px
}