@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .textarea {
    @apply w-full h-40 border-2 border-gray-200 p-2 rounded-lg
  }
}

/* resets */
html, body {
  min-height: 100vh;
  max-height: fit-content;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--basecolor);
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

/* styles */

:root {
  --basecolor: black;
  --basebgcolor: rgb(255, 255, 255);
  --bgheaderfooter: #e3e3e3;
  --bgpost: #e3e3e3;
  --inputcolor: rgb(202, 202, 202);
}

:root.dark {
  --basecolor: rgb(255, 255, 255);
  --basebgcolor: rgb(70, 70, 70);
  --bgheaderfooter: #202020;
}

.page {
  background-color: var(--basebgcolor);
  min-height: 100vh;
  max-height: fit-content;
  padding-bottom: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--basecolor);
  font-size: 50px;
  margin: 20px 0;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 60vw;
  gap: 1rem;
}

button {
  cursor: pointer;
}

.user-post{
  background: var(--bgpost);
}

.home-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bgheaderfooter);
  height: 60px;
}

@media (min-width: 630px) {
  main div{
    display: flex;
    flex-direction: row;
  }
}

.name-avatar-profile {
  cursor: pointer;
  user-select: none;
}
  
html, body {
  height: 100vh;
}

.add-post, .edit-post, .set-postprice, .buy-post, .add-comment {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.545);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

.add-post_form, .set-postprice-form, .buy-post-form, .add-comment_form {
  background: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  bottom: 150px;
}

.add-post_form h2 {
  margin: 0;
}

.edit-post_form {
  gap: 10px;
}

.post-image {
  height: 250px;
}

.edit-post-form_buttons {
  display: flex;
  justify-content: space-evenly;
}

.edit-post_form div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.edit-form_text {
  margin: 0;
}

.set-postprice-form, .buy-post-form {
  width: 300px;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.buy-post-form_buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.buy-post-form_buttons button {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 15px;
}

.post-url {
  width: 250px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 0 20px var(--inputcolor) inset;
}

.post-text {
  width: 250px;
  border: 2px solid black;
  height: 100px;
  box-shadow: 0 0 0 60px var(--inputcolor) inset;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}

.post-price-tag {
  cursor: default;
}

.buy-post-form_buttons {
  display: flex;
}

.fixed-scroll {
  overflow: hidden;
}

.loader-container {
  z-index: 300
}