.post-article {
    padding-left: 1.5rem;
    border: 0.2rem outset rgb(51, 56, 44);
    border-radius: 12px;
  
  }
  
  .post-menssage {
    display: flex;
    flex-direction: row;
    width: 97%;
    height: 100%;
    background-color: var(--basecolor);
    border-radius: 12px;
    justify-content: left;
    align-items: center;
    gap: 4rem;
  }
  
  .post-Author {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
  }
  
  .post-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  
    justify-content: left;
    align-items: center;
    gap: 4rem;
  
    font-size: smaller;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .post-image {
    width: 4rem;
    border-radius: 1rem;
  }
  
  .post-text {
    font-style: italic;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  