
.posts {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    align-self: center;
    padding: 20px;
    justify-content: center;
    box-sizing: border-box;
  }
  
  article {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--white);
    padding: 10px;
    border-radius: 10px;
  }
  
  @media (min-width: 481px) {
    .posts {
        gap: 10px;
        max-width: 700px;
  
    }
    
    article {
        width: calc(50% - 25px);
    }
  }
  @media (min-width: 980px) {
    .posts {
        gap: 8px;
        max-width: 1000px;
    }
    
    article {
        width: calc(33.33% - 26px);
    }
  }
  
  .posts .space-image {
    width: 100%;
    padding-bottom: 80%;
    cursor: pointer;
  }
  
  .title-and-interactions {
    display: flex;
    align-items: center;
    margin: 15px 0 5px;
    /* justify-content: space-between; */
    margin-top: auto;
  }
  .title-and-interactions .material-symbols-outlined {
    cursor: pointer;
  }
  .title-and-interactions .comment {
    margin-left: 6px;
  }
  
  .material-symbols-outlined.save {
    margin-left: auto;
  }
  .post-author .user-name {
    text-shadow: 2px 2px 2px #0000004a;
  }
  
  article h3.title {
    margin: 0;
    text-align: left;
    color: var(--white);
    text-shadow: 2px 2px 2px #0000004a;
  }
  
  
  .material-symbols-outlined.like.filled {
    color:var(--red);
  }
  .material-symbols-outlined.filled {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  
  article p.excerpt {
    margin-top: 4px;
    font-size: 14px;
    margin-bottom: 8px;
    color: var(--white);
    text-shadow: 2px 2px 2px #0000004a;
  
  }
  

  .posts .post-author {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  .posts .post-author img {
    border-radius: 100px;
  }
  
  button.edit {
    margin-left: auto;
    margin-right: 0;
    background: var(--main-button);
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    border: solid 2px var(--main-button);
    cursor: pointer;
    transition: linear .2s;
    margin-bottom: 0;
    display: flex;
    align-self: center;
  }
  
  button.edit .edit-post {
    margin-left: 5px;
    font-size: 15px;
  }
  
  button:hover {
    background: transparent;
    color: var(--white);
  }
  
  button[type="cancel"]:hover {
    background: var(--main-button);
    color: var(--white);
  
  }
  
  button.close {
    margin-top: auto;
    width: 100%;
  }