.tabbar-container {
    width: 100vw;
    height: fit-content;
    display: flex;
    padding: 16px 24px 24px 24px;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    background-color: var(--white);
    box-sizing: border-box;
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.02);
}

.tabbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabbar-selected {
    width: 6px;
    height: 6px;
    border-radius: 50px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 12px;
}