.link-default {
    color: var(--primary-color);
}

.link-default:hover {
    color: var(--primary-hover);
}

.link-critical {
    color: var(--critical-color);
}

.link-critical:hover {
    color: var(--critical-hover);
}