body {
  background: #1e2227;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.main {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100%;
}

.main > .container {
  background: #313740;
  border: solid 4px #fff;
  border-radius: 50px;
  margin: auto;
  max-width: 450px;
  padding: 30px 10px;
  width: 100%;
}

.grid-section.section {
  display: flex;
  flex-wrap: wrap;
}

/* .row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
.column {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.col-ls-12 {
  width: calc(8.33% * 12);
  flex-basis: calc(8.33% * 12);
}
.col-ls-11 {
  width: calc(8.33% * 11);
  flex-basis: calc(8.33% * 11);
}
.col-ls-10 {
  width: calc(8.33% * 10);
  flex-basis: calc(8.33% * 10);
}
.col-ls-9 {
  width: calc(8.33% * 9);
  flex-basis: calc(8.33% * 9);
}
.col-ls-8 {
  width: calc(8.33% * 8);
  flex-basis: calc(8.33% * 8);
}
.col-ls-7 {
  width: calc(8.33% * 7);
  flex-basis: calc(8.33% * 7);
}
.col-ls-6 {
  width: calc(8.33% * 6);
  flex-basis: calc(8.33% * 6);
}
.col-ls-5 {
  width: calc(8.33% * 5);
  flex-basis: calc(8.33% * 5);
}
.col-ls-4 {
  width: calc(8.33% * 4);
  flex-basis: calc(8.33% * 4);
}

.col-ls-3 {
  width: calc(8.33% * 3);
  flex-basis: calc(8.33% * 3);
}
.col-ls-2 {
  width: calc(8.33% * 2);
  flex-basis: calc(8.33% * 2);
}
.col-ls-1 {
  width: calc(8.33% * 1);
  flex-basis: calc(8.33% * 1);
}

.container.numbers-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.column.vertical-operators-column {
  flex-direction: column;
}
.row.numbers {
  width: 100%;
  display: flex;
  flex-direction: row;
}


.screen {
  font-size: 62px;
  font-weight: 900;
}

.row.operators-row.vertical {
  background-color: #ff9800;
}

.row.numbers > div,
.column.vertical-operators-column > div,
.operator {
  font-size: 42px;
  font-weight: 900;
}
/* .restart {
  background: #1e2228;
  border: solid 2px #fff;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 400;
  margin: 10px 0;
  max-width: 60px;
  padding: 10px 24px;
  transition: linear .2s;
} */

.controls-row {
  flex-flow: row;
  margin: 10px 0px;
}

.row.message-row {
  flex-basis: 100%;
  margin-top: 10px;
  width: 100%;
}

/* .minus, .plus {
  background: #1e2228;
  border: solid 2px #fff;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 400;
  margin: 0px 10px;
  padding: 10px 0;
  transition: linear .2s;
  width: 41px;
}
.plus {
  padding: 10px 0;
  width: 41px;
} */

.minus:hover, .plus:hover, .restart:hover {
  background: #fff;
  color: #1e2228;
  transition: linear .2s;
}

@media (max-width:280px) {
  .row.controls-row {
    flex-direction: column;
  }
}